.box {
  height: 500;
  background-color: lightskyblue;
  text-align: center;
  font-family: cursive;
}

.dayLight {
  background-color: rgb(233, 233, 98);
}

h1 {
  text-align: center;
}

p {
  text-align: right;
}

button {
  

  height: 40px;
  margin: 15px;
  background-color: pink;
}